@import "tailwindcss";

:root {
  --bg-plain:   hsl( 0,  0%, 96%);
  --bg-accent1: hsl( 4, 80%, 32%);
  --bg-accent2: hsl( 4, 80%, 16%);
  --fg-plain:   hsl( 0,  0%,  4%);
  --fg-accent1: hsl( 4, 80%, 28%);
  --fg-accent2: hsl(30, 80%, 28%);
  --spacing: 8px;
}
