@import "tailwindcss";

:root {
  --bg-plain:   hsl( 0,  0%, 96%);
  --bg-accent1: hsl( 4, 80%, 32%);
  --bg-accent2: hsl( 4, 80%, 16%);
  --fg-plain:   hsl( 0,  0%, 96%);
  --fg-accent1: hsl( 4, 80%, 28%);
  --fg-accent2: hsl(30, 80%, 28%);
  --spacing: 8px;
}

body {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    to right bottom,
    var(--bg-accent1) 0%,
    var(--bg-accent2) 100%
  );
  background-attachment: fixed;
  color: var(--fg-plain);
  font-family: var(--font-main);
}
