.mainContent {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    to right bottom,
    var(--bg-accent1) 0%,
    var(--bg-accent2) 100%
  );
  background-attachment: fixed;
  color: var(--fg-plain);
  font-family: var(--font-main);
}

.panel {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 75%);
  background-color: var(--bg-plain);
}

.headerSection {
  border: 1px solid black;
  & > * {
    border: 1px solid white;
  }
}
