#root {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    to right bottom,
    var(--mui-palette-primary-main) 0%,
    var(--mui-palette-primary-dark) 100%
  );
  background-attachment: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  padding: 48px;
  gap: 32px;

  .panel {
    overflow: clip;
    border-radius: 2em;
  }
}

iframe {
  border: none;
}